@import "reset";
@import "variables";
@import "mixins";

#main-nav{
    background: $deepBlue;
    ul{
        width: 100%;
        
        &:after{ //pseudo class
             content: "";
             display: block;
             clear: both;
        }
    }
    li{
        float: left;
        width: 14%;
        @include mQ(600px){
            width: 100%;
        }
    }
    a{
        color:$offWhite;
        text-decoration: none;
        padding: 16px;
        display: block;
        text-align: center;
        &:hover{ //pseudo class
            background: lighten($deepBlue, 6)
        }
    }
}//end #main-nav


section h1{
    
    font-size: $sectionHeading;
    color:$deepBlue;
}

.lead-banner{
    @include banner;
    text-align: right;
}

.lessons-banner{
    @include banner;
    li{
        text-transform: uppercase;
        font-size: 20px;
        max-width: 500xp;
        margin: 60px 0;
    }
    
}

#services{
    margin-bottom: 60px;
    li{
        float:left;
        box-sizing: border-box;
        text-align: center;
        width: (100% / 3);
        @include mQ(600px){
            width: 100%;
        }
    }
    img{
        width:60%;
        margin: 20px 20%;
        
    }
    a{
        text-decoration: none;
        color: $deepBlue;
        font-weight: bold;
        &:hover{
            color: complement($deepBlue);
        }
    }
    
    ul{
        &:after{ //pseudo class
             content: "";
             display: block;
             clear: both;
        }
        
    }
}

#projects li{
    @include grid(4, 2%); //grid system
    img{
        width: 100%;
    }
    @include mQ(600px){
            width: 100%;
        }
}

